<h1>iCalendar Stream EDitor (ical-sed)</h1>

<p class="lead">
Filter an iCal feed by specifying terms that should be present in the event names.
</p>

<form>

	<div class="form-group">
		<label for="source">Source URL</label>
		<input id="source" class="form-control" tabindex="0" placeholder="http://example.com/feed.ics" type="text" data-bind="value: source, valueUpdate: 'keyup'">
	</div>

	<div class="form-group">
		<label for="terms">Event Terms</label>
		<div id="terms" data-bind="foreach: terms" class="terms form-horizontal">
			<div class="form-group">
				<div class="col-xs-4 col-md-4">
					<input class="form-control term" type="text" data-bind="value: $rawData, valueUpdate: 'keyup', event: { keypress: $parent.termKeyPress }">
				</div>
				<button class="btn btn-default" data-bind="click: $parent.removeTerm">Remove</a>
			</div>
		</div>
		<button class="btn btn-default" data-bind="click: addTerm">Add</button>				 
	</div>

	<div class="form-group">
		<label for="url">Filtered URL</label>
		<a id="url" data-bind="attr: { href: url }, text: url"></a>
	</div>
	<button type="button" class="btn btn-primary" data-clipboard-target="#url">Copy</button>

</form>

<a style="margin-top: 48px" href="https://github.com/rhargreaves/ical-sed" class="text-center center-block">
	<img src="assets/images/GitHub-Mark-64px.png" alt="Source Code" title="Source Code"></img></a>
